TileSeri(
    id: "blue",
    name: "Blue",
    z: -900,
    img_paths: [
        ("default", "texture/world/white.png"),
    ],
    sprite: Some(false),
    randflipx: Some(false),
    color: Some((0, 0, 255, 255)),
)