
TileSeri(
    id: "dark_green",
    name: "Dark Green",
    z: -900,
    img_paths: [
        ("default", "texture/world/white.png"),
    ],
    sprite: Some(false),
    randflipx: Some(false),
    color: Some((34, 139, 34, 255)),
)