TileSeri(
    id: "dblue",
    name: "Dark Blue",
    z: -900,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    sprite: Some(false),
    randflipx: Some(false),
    color: Some((0, 0, 170, 255)),
)