TileSeri(
    id: "orange",
    name: "Orange",
    z: -900,
    img_paths: [
        ("default", "texture/world/white.png"),
    ],
    sprite: Some(false),
    randflipx: Some(false),
    color: Some((255, 165, 0, 255)),
)