TileSeri(
    id: "pink",
    name: "Pink",
    z: -900,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    sprite: Some(false),
    randflipx: Some(false),
    color: Some((255, 192, 203, 255)),
)