(
    id: "sandcolor",
    name: "Sand Color",
    cats: [],
    img_paths: {
        "default": "texture/world/white.png"
    },
    shader: "",
    sprite: false, 
    randflipx: false,
    offset: (0.0, 0.0),
    z: -999,
    color: Some((237, 201, 175, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    tmapchild: true,
)