(
    id: "bear",
    name: "Bear",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "bear",
    singular: "bear",
    plural: "bears",
    sentient: false,
    fallback_sprites_to_sample: ["bear"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    predator_hunt_threshold: 0.0,
    wander: (
        dir_secs_min: 1.0,
        dir_secs_max: 2.5,
        move_secs_min: 0.8,
        move_secs_max: 1.8,
        halt_secs_min: 0.7,
        halt_secs_max: 2.0,
        speed_min: 0.10,
        speed_max: 0.28,
        avoid: ["liquid"],
    ),
    body_or_sampler: "bear",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    spawn_pack_size_normal_dist: (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0),
    biome_affinity: {
        "temp": 1.0,
        "artic": 0.6,
    },
)
