(
    id: "bear",
    name: "Bear",
    name_generator: None,
    icon_path: None,
    description: Some(" bit_demo"),
    demonym: Some("ursine"),
    singular: Some("bear"),
    plural: Some("bears"),
    sexes: {
        "male": (1, []),
        "female": (1, []),
    },
    sentient: Some(false),
    fallback_sprites_to_sample: ["bear", ],
    sets_of_choosable_sprites: None,
    caloric_burn_rate_multiplier: None,
    can_walk_on: None,
    walk_speeds_on_tiles: None,
    whitelisted_tiles_for_spawning: None,
    blacklisted_tiles_for_spawning: None,
    body_tree: "human_body",
    size_variation: Some((min: 0.6, max: 3., mean: 1.1, std_dev: 0.2)),
    hori_variation: Some((min: 0.95, max: 1.05, mean: 1.0, std_dev: 0.05)),
    vert_variation: Some((min: 0.95, max: 1.05, mean: 1.0, std_dev: 0.05)),
)
