(
    id: "beholder",
    name: "Beholder",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "beholder",
    singular: "beholder",
    plural: "beholders",
    sentient: false,
    fallback_sprites_to_sample: ["beholder"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    wander: (
        dir_secs_min: 4.0,
        dir_secs_max: 7.0,
        move_secs_min: 0.6,
        move_secs_max: 1.5,
        halt_secs_min: 6.0,
        halt_secs_max: 12.0,
        speed_min: 0.5,
        speed_max: 0.6,
        avoid_tile_tags: ["liquid"],
    ),
    body_or_sampler: "beholder",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    pack_spawn_radius: 7,
)
