(
    id: "croc1",
    name: "Croc2",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "croc1",
    singular: "croc1",
    plural: "croc1s",
    sentient: false,
    fallback_sprites_to_sample: ["croc1"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    predator: (
        do_not_hunt_tags: ["croc1"],
        min_hunger_to_hunt: 0.00031,
    ),
    wander: (
        dir_secs_min: 1.0,
        dir_secs_max: 2.5,
        move_secs_min: 0.8,
        move_secs_max: 10.8,
        halt_secs_min: 0.7,
        halt_secs_max: 10.0,
        speed_min: 0.5,
        speed_max: 0.6,
        avoid_tile_tags: [],
    ),
    body_or_sampler: "croc",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    spawn_pack_size_normal_dist: (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0),
    biome_affinity: {
        "beach": 1.2,
        "temp": 0.3,
    },
    spawn_pack_entity: false,
    pack_spawn_radius: 7,
)
