(
    id: "golem_infernal",
    name: "Golem Infernal",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "golem infernal",
    singular: "golem infernal",
    plural: "golem infernals",
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    sentient: false,
    fallback_sprites_to_sample: ["golem_infernal"],
    sets_of_choosable_sprites: [],
    caloric_burn_rate_multiplier: 0.0,
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    mass_kg: 80.0,
    distributed_totals: {
        "walk_speed": 38,
    },
    predator_hunt_threshold: 0.0,
    wander: (
        dir_secs_min: 1.0,
        dir_secs_max: 2.5,
        move_secs_min: 0.8,
        move_secs_max: 1.8,
        halt_secs_min: 0.7,
        halt_secs_max: 2.0,
        speed_min: 0.10,
        speed_max: 0.28,
        avoid: [],
    ),
    body_tree_or_sampler: "golem_infernal",
    size_variation: (min: 0.8, max: 1.2, mean: 1.0, std_dev: 0.1),
)
