(
    id: "golem_ice",
    name: "Ice golem",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "ice golem",
    singular: "ice golem",
    plural: "ice golems",
    sentient: false,
    fallback_sprites_to_sample: ["golem_ice"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    wander: (
        dir_secs_min: 4.0,
        dir_secs_max: 8.0,
        move_secs_min: 0.4,
        move_secs_max: 1.0,
        halt_secs_min: 60.0,
        halt_secs_max: 75.0,
        speed_min: 0.5,
        speed_max: 0.6,
        avoid_tile_tags: ["liquid"],
    ),
    body_or_sampler: "golem_ice",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    biome_affinity: {
        "ice": 1.0,
    },
    pack_spawn_radius: 7,
)
