(
    id: "pig",
    name: "Pig",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "porcine",
    singular: "pig",
    plural: "pigs",
    sexes: {
        "male": (1, []),
        "female": (1, []),
    },
    sentient: false,
    fallback_sprites_to_sample: ["pig", ],
    sets_of_choosable_sprites: [],
    caloric_burn_rate_multiplier: 0.0,
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    mass_kg: 140.0,
    distributed_totals: {
        "walk_speed": 300,
    },
    body_tree_or_sampler: "pig",
    size_variation: (min: 0.6, max: 3., mean: 1.1, std_dev: 0.2),
)
