(
    id: "turtle",
    name: "Turtle",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "turtle",
    singular: "turtle",
    plural: "turtles",
    sentient: false,
    fallback_sprites_to_sample: ["turtle"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    wander: (
        dir_secs_min: 5.0,
        dir_secs_max: 20.5,
        move_secs_min: 0.8,
        move_secs_max: 20.8,
        halt_secs_min: 0.7,
        halt_secs_max: 120.0,
        speed_min: 0.8,
        speed_max: 1.0,
        avoid_tile_tags: ["liquid"],
    ),
    body_or_sampler: "turtle",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    spawn_pack_size_normal_dist: (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0),
    biome_affinity: {
        "beach": 1.0,
    },
    spawn_pack_entity: false,
    pack_spawn_radius: 7,
)
