(
    id: "yeti",
    name: "Yeti",
    name_generator: None,
    icon_path: "",
    description: "",
    demonym: "yeti",
    singular: "yeti",
    plural: "yetis",
    sentient: true,
    fallback_sprites_to_sample: ["yeti"],
    sets_of_choosable_sprites: [],
    can_walk_on: [],
    walk_speeds_on_tiles: {},
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    wander: (
        dir_secs_min: 4.0,
        dir_secs_max: 8.0,
        move_secs_min: 0.6,
        move_secs_max: 1.8,
        halt_secs_min: 6.0,
        halt_secs_max: 14.0,
        speed_min: 0.7,
        speed_max: 0.8,
        avoid_tile_tags: ["liquid"],
    ),
    body_or_sampler: "yeti",
    size_variation: (min_dev: 0.251, max_dev: 0.251, mean: 1.0, std_dev: 0.1),
    biome_affinity: {
        "anta": 0.5,
        "ocean": -1.0,
    },
    pack_spawn_radius: 7,
)
