(
    id: "ant",
    name: "Ant Body",
    tags: ["insect"],
    distributed_totals: {
        "mass_kg": 2.0,
        "hp_capacity": 3.0,
        "hp_regen_rate": 11.0,
        "blood_capacity": 146.4,
        "bleed_rate": 12.0,
        "walk_strength": 0.5,
        "swim_strength": 0.2,
        "manip_dex": 2.2,
        "vision": 1.0,
        "pain_sensitivity": 16.0,
        "caloric_burn_rate": 27.4,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 1.0,
    max_fat_mobilization_kcal_per_sec: 9999.0,
    max_lean_catabolism_kcal_per_sec: 9999.0,
    damage_per_sec_at_zero_lean: 1.0,
    bodytree_id: "ant",
)
