(
    id: "medusa",
    name: "Medusa Body",
    tags: ["humanoid"],
    distributed_totals: {
        "mass_kg": 75.0,
        "hp_capacity": 112.0,
        "hp_regen_rate": 23.5,
        "blood_capacity": 285.5,
        "bleed_rate": 30.4,
        "walk_strength": 32.0,
        "swim_strength": 6.3,
        "manip_dex": 7.3,
        "manip_str": 4.4,
        "vision": 2.0,
        "pain_sensitivity": 27.4,
        "caloric_burn_rate": 52.5,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 1.0,
    max_fat_mobilization_kcal_per_sec: 9999.0,
    max_lean_catabolism_kcal_per_sec: 9999.0,
    damage_per_sec_at_zero_lean: 1.0,
    bodytree_id: "medusa",
)
