(
    id: "yeti",
    name: "Yeti Body",
    tags: ["humanoid"],
    distributed_totals: {
        "mass_kg": 1000.0,
        "hp_capacity": 4500.0,
        "hp_regen_rate": 12.0,
        "blood_capacity": 260.0,
        "bleed_rate": 24.0,
        "walk_strength": 300.0,
        "swim_strength": 6.0,
        "manip_dex": 5.0,
        "manip_str": 4.4,
        "vision": 2.0,
        "pain_sensitivity": 18.0,
        "caloric_burn_rate": 60.0,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 1.0,
    max_fat_mobilization_kcal_per_sec: 9999.0,
    max_lean_catabolism_kcal_per_sec: 9999.0,
    damage_per_sec_at_zero_lean: 1.0,
    bodytree_id: "humanoid",
)
