(
    id: "golden_sprig",
    name: "Golden Sprig",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/golden_sprig.png"),
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 148.0)),


)