(
    id: "palm",
    name: "Palm",
    tags: ["tree", "veg"],
    y_sort: 0.0,
    img_paths: [
        ("", "texture/world/veg/tree/palm.png"),
    ],
    is_spritetile: true,
    randflipx: true,

    hori_variation: (min_dev: 0.2, max_dev: 0.2, mean: 1.0, std_dev: 0.1),

    offset: (.0, 106.0),
    colmask: [
        "1",
    ],

    items_dropped_on_death: (
        id: "tree_lumber_drop",
        weights: [
            ({"lumber": 1}, 1.0),
        ],
    ),
    hp: 100.0,
    light_occluder: (
        enabled: true,
        offset: (0, 60),
        use_sprite: false,
        shape_size: (9, 130),
        shape: "capsule",
    ),
)
