(
    id: "poplar0",
    name: "Poplar",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/poplar0.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 150.0),


)
