(
    id: "treebush",
    name: "Treebush",
    img_paths: [
        ("", "texture/world/veg/tree/treebush.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 120.0)),
    z: 1000,
    y_sort: Some(0),


)