(
    id: "willow_orange",
    name: "Orange willow",
    tags: ["tree", "veg"],
    img_paths: [
        ("", "texture/world/veg/tree/willow_orange.png")
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 150.0),
    z: 1000,
    y_sort: 0.0,
    colmask: [
        "1",
    ],

    items_dropped_on_death: (
        id: "tree_lumber_drop",
        weights: [
            ({"lumber": 1}, 1.0),
        ],
    ),
    hp: 100.0,

)
