(
    id: "willow",
    name: "Willow",
    img_paths: [
        ("", "texture/world/veg/tree/willow.png")
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 120.0),
    z: 1000,
    y_sort: Some(0),


)
