(
    id: "suland",
    opfilter_id: "land",
    required_tile_tags: [""],
    probe_pattern: "sun",
    ray_curve_per_distance: 0.003,
    step_size: 30,
    max_batches: 100,
    iterations_per_batch: 10000,
    max_emitted_results: 1,
)
