(
    id: "suland",
    opfilter_id: "land",
    required_tile_tags: [""],
    probe_pattern: "conc",
    concentric_sample_spacing: 30.0,
    step_size: 30,
    max_batches: 100,
    iterations_per_batch: 10000,
    max_emitted_results: 1,
)
