(
    id: "root1",
    root: true,
    operation_operands: {
        "+": ["continenter",],
    },
   
    bifurcation_over: "land",
    threshold: 0.0,
    bifurcation_under: "",
    tiles: [
        
    ],
    root_in_dimensions: ["overworld"],
    size: Some((1, 1)),

)