(
    id: "cobra_red",
    name: "Cobra Red Body",
    tags: ["serpent"],
    distributed_totals: {
        "mass_kg": 12.0,
        "hp_capacity": 155.0,
        "hp_regen_rate": 7.4,
        "blood_capacity": 85.5,
        "bleed_rate": 9.6,
        "walk_strength": 3.0,
        "swim_strength": 0.9,
        "manip_dex": 0.9,
        "vision": 2.0,
        "pain_sensitivity": 11.3,
        "caloric_burn_rate": 14.4,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    bodytree_id: "snake",
)
