(
    id: "tree_dead0",
    name: "Dead tree",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/dead/tree_dead0.png")
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 120.0),


)
