(
    id: "tree_dead1",
    name: "Dead tree",
    tags: ["tree", "veg"],
    img_paths: [
        ("", "texture/world/veg/tree/dead/tree_dead1.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 120.0),
    z: 1000,
    y_sort: Some(0),
    colmask: [
        "1",
    ],

)
