(
    id: "tree_dead4",
    name: "Dead tree",
    tags: ["tree", "veg"],
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/dead/tree_dead4.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 120.0),
    colmask: [
        "1",
    ],

    items_dropped_on_death: (
        id: "tree_lumber_drop",
        weights: [
            ({"lumber": 1}, 1.0),
        ],
    ),
    hp: 100.0,

)
