(
    id: "elf_bush0",
    name: "Elven Bush 0",
    z: 1000,
    y_sort: Some(10),
    img_paths: [
        ("", "texture/world/vegetation/bush/elf/elf_bush0.png"),
    ],
    sprite: Some(true),
    randflipx: Some(true),
)
