(
    id: "elf_bush1",
    name: "Elven Bush 1",
    img_paths: {
        "default": "texture/world/vegetation/elf_bush1.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 0.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    somecomp_present: Some(true),
    tmapchild: true,
    ysort: Some(0.0),
)