(
    id: "elf_bush1",
    name: "Elven Bush 1",
    z: 1000,
    img_paths: [
        ("", "texture/world/vegetation/bush/elf/elf_bush1.png"),
    ],
    sprite: Some(true),
    randflipx: Some(true),
)