SpriteConfigSeri(
    id: "humanhe0",
    name: "Human Head 0",
    anims: {
        ("south", "idle", "g", "") : "head_south_idle",
        ("west", "idle", "g", "") : "head_west_idle",
        ("east", "idle", "g", "") : "head_east_idle",
        ("north", "idle", "g", "") : "head_north_idle",
    },
    parent_cat: Some("body"),
    categories: Some(["head"]),
    children_sprites: Some([]),
    shares_category: Some([]),
    directionable: Some(true),
    movement_based: Some(false),
    grounding_based: Some(false),
)

// TODO: hacer que se puedan aplicar colorses sobre máscaras como en humanoid alien races del rimworld