(
    id: "dragon_yellow",
    name: "Dragon Yellow Body",
    tags: ["humanoid"],
    distributed_totals: {
        "mass_kg": 15000.0,
        "hp_capacity": 1600.0,
        "hp_regen_rate": 15.0,
        "blood_capacity": 400.0,
        "bleed_rate": 10.0,
        "walk_speed": 42.0,
        "swim_speed": 8.0,
        "manip_dex": 6.0,
        "manip_str": 8.0,
        "vision": 2.0,
        "pain_sensitivity": 15.0,
        "caloric_burn_rate": 120.0,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    bodytree_id: "dragon",
)
