(
    id: "duck",
    name: "Duck Body",
    tags: ["bird"],
    distributed_totals: {
        "mass_kg": 8.0,
        "hp_capacity": 402.0,
        "hp_regen_rate": 18.0,
        "blood_capacity": 235.5,
        "bleed_rate": 24.2,
        "walk_speed": 3.0,
        "swim_speed": 4.3,
        "fly_speed": 2.8,
        "manip_dex": 2.3,
        "manip_str": 0.4,
        "vision": 2.0,
        "pain_sensitivity": 22.3,
        "caloric_burn_rate": 42.8,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    bodytree_id: "bird",
)
