(
    id: "golem_bronze",
    name: "Bronze golem Body",
    tags: ["humanoid"],
    distributed_totals: {
        "mass_kg": 20000.0,
        "hp_capacity": 1200.0,
        "hp_regen_rate": 1.0,
        "blood_capacity": 0.0,
        "bleed_rate": 0.0,
        "walk_strength": 1200.0,
        "manip_str": 6.0,
        "vision": 2.0,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    bodytree_id: "golem",
)
