(
    id: "kraken",
    name: "Kraken Body",
    tags: ["tentacled"],
    distributed_totals: {
        "mass_kg": 5000.0,
        "hp_capacity": 128.0,
        "hp_regen_rate": 5.7,
        "blood_capacity": 67.0,
        "bleed_rate": 8.0,
        "walk_speed": 10.0,
        "swim_speed": 3.6,
        "manip_dex": 3.4,
        "manip_str": 3.2,
        "vision": 2.0,
        "pain_sensitivity": 9.9,
        "caloric_burn_rate": 13.5,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    root: (
        part_id: "head",
        label_override: "Mantle",
        children: [
            (part_id: "brain", label_override: "Brain", children: []),
            (part_id: "eye", label_override: "Left Eye", children: []),
            (part_id: "eye", label_override: "Right Eye", children: []),
            (part_id: "tentacle", label_override: "Tentacle A", children: []),
            (part_id: "tentacle", label_override: "Tentacle B", children: []),
            (part_id: "tentacle", label_override: "Tentacle C", children: []),
            (part_id: "tentacle", label_override: "Tentacle D", children: []),
        ],
    ),
)
