(
    id: "mahubo_south_move",
    rows_cols: Some((4, 6)),
    img_path: "texture/being/body/human/male.png",
    alternating_start_frames: Some((1, 4)),
    clips: [
        (
            target: 0,
            is_row: true,
        )
    ],
    z: 1000,
    y_sort: Some(0),
)
