SpriteConfigSeri(
    id: "lumber",
    name: "lumber",
    fallback_img_path: "texture/item/lumber.png",
    z: 0.0,
    y_sort: 0.0,
    children_sprites: [],
    shares_tag: [],
    directionable: false,
    movement_based: false,
    grounding_based: false,
    offset: (0.0, 0.0),
    scale: (1.0, 1.0),
)
