pack {
    id: "ant",
    spawn_being_count_normal_dist: { min_dev: 2.0, max_dev: 2.0, mean: 7.0, std_dev: 3.0 },
    ids: {
        ant: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        temp: 1.2,
        desert: 1.0,
    },
    pack_spawn_radius: 7,
}
