(
    id: "ant",
    initial_spawn_normal_dist: (min: 1.0, max: 1.0, mean: 1.0, std_dev: 0.0),
    race_ids: {
        "ant": (1.0, 0.8),
    },
    bit_ids: {},
    biome_affinity: {
        "temp": 1.2,
        "desert": 1.0,
    },
    behavior: "",
)
