(
    id: "bat",
    spawn_being_count_normal_dist: (min_dev: 3.0, max_dev: 3.0, mean: 6.0, std_dev: 4.0),
    race_ids: {
        "bat": (1.0, (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0)),
    },
    bit_ids: {},
    biome_affinity: {
        "ocean": -2.5,
        "temp": 1.0,
        "desert": 0.7,
    },
    behavior_on_member_attack: "",
    chunk_separation_to_others: {},
    pack_radius: 4,
)
