(
    id: "crows",
    initial_spawn_normal_dist: (min: 1.0, max: 1.0, mean: 1.0, std_dev: 0.0),
    race_ids: {
        "crow": (1.0, 0.7),
    },
    bit_ids: {},
    biome_affinity: {
        "temp": 1.1,
    },
    behavior: "",
)
