pack {
    id: "crow",
    spawn_being_count_normal_dist: { min_dev: 3.0, max_dev: 7.0, mean: 8.0, std_dev: 3.0 },
    ids: {
        crow: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        temp: 1.1,
    },
    pack_spawn_radius: 7,
}
