pack {
    id: "duck",
    spawn_being_count_normal_dist: { min_dev: 3.0, max_dev: 3.0, mean: 5.0, std_dev: 2.0 },
    ids: {
        duck: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        beach: 1.1,
        temp: 0.6,
    },
    pack_spawn_radius: 7,
}
