pack {
    id: "frog",
    spawn_being_count_normal_dist: { min_dev: 3.0, max_dev: 7.0, mean: 8.0, std_dev: 3.0 },
    ids: {
        frog: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        beach: 1.0,
        temp: 0.8,
    },
    fight_or_flight_config: {
        reaction: "flee",
    },
    member_predator: {
        do_not_hunt_tags: ["frog"],
        min_hunger_to_hunt: 0.0,
    },
    pack_spawn_radius: 7,
}
