pack {
    id: "frog",
    spawn_being_count_normal_dist: { min_dev: 3.0, max_dev: 7.0, mean: 8.0, std_dev: 3.0 },
    ids: {
        frog: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        beach: 1.0,
        temp: 0.8,
    },
    pack_spawn_radius: 7,
}
