pack {
    id: "rat",
    spawn_being_count_normal_dist: { min_dev: 5.0, max_dev: 6.0, mean: 6.0, std_dev: 4.0 },
    ids: {
        rat: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        temp: 1.2,
        desert: 0.3,
        beach: 0.4,
    },
    pack_spawn_radius: 7,
}
