(
    id: "seagull",
    initial_spawn_normal_dist: (min: 1.0, max: 1.0, mean: 1.0, std_dev: 0.0),
    race_ids: {
        "seagull": (1.0, 0.65),
    },
    bit_ids: {},
    biome_affinity: {
        "beach": 1.3,
    },
    behavior: "",
)
