(
    id: "seagull",
    spawn_being_count_normal_dist: (min_dev: 4.0, max_dev: 8.0, mean: 3.0, std_dev: 2.0),
    race_ids: {
        "seagull": (1.0, (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0)),
    },
    bit_ids: {},
    biome_affinity: {
        "beach": 1.3,
    },
    behavior_on_member_attack: "",
    chunk_separation_to_others: {},
)
