(
    id: "turtle",
    spawn_being_count_normal_dist: (min_dev: 0.0, max_dev: 1.0, mean: 1.0, std_dev: 0.5),
    race_ids: {
        "turtle": (1.0, (min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0)),
    },
    bit_ids: {},
    biome_affinity: {
        "beach": 1.0,
    },
    behavior_on_member_attack: "",
    chunk_separation_to_others: {},
)
