pack {
    id: "turtle",
    spawn_being_count_normal_dist: { min_dev: 0.0, max_dev: 1.0, mean: 1.0, std_dev: 0.5 },
    ids: {
        turtle: 1.0,
    },
    biome_affinity: {
        ocean: -2.5,
        beach: 1.0,
    },
    pack_spawn_radius: 7,
}
