pack {
    id: "unicorn",
    spawn_being_count_normal_dist: { min_dev: 0.0, max_dev: 0.0, mean: 1.0, std_dev: 0.0 },
    ids: {
        unicorn: 1.0,
    },
    biome_affinity: {
        elf: 0.5,
    },
    fight_or_flight_config: {
        reaction: "flee",
    },
    pack_spawn_radius: 7,
}
