(
    id: "grassvoronoi",
    img_path: "texture/world/terrain/sepia.png",
    scale: 1e-1,
    voronoi_scale: 2,
    voronoi_scale_random: 0.0,
    voronoi_rotation: 6.14,
    mask_color: (255., 0, 0, 255.),
)