([(
    id: "astaroth_south_idle",
    paused: true,
    rows_cols: (4, 8),
    speed: 1.0,
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_south_move",
    rows_cols: (4, 8),
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 0,
            is_row: true,
            start_frame: Some(1),
            partial: Some((1, 5)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_north_idle",
    paused: true,
    rows_cols: (4, 8),
    speed: 1.0,
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_north_move",
    rows_cols: (4, 8),
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 1,
            is_row: true,
            start_frame: Some(1),
            partial: Some((1, 5)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_west_idle",
    paused: true,
    rows_cols: (4, 8),
    speed: 1.0,
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 2,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_west_move",
    rows_cols: (4, 8),
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 2,
            is_row: true,
            start_frame: Some(1),
            partial: Some((0, 4)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_east_idle",
    paused: true,
    rows_cols: (4, 8),
    speed: 1.0,
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 3,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "astaroth_east_move",
    rows_cols: (4, 8),
    img_path: "texture/being/npc/monster/astaroth.png",
    clips: [
        (
            target: 3,
            is_row: true,
            start_frame: Some(1),
            partial: Some((0, 4)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
)])
