([(
    id: "beholder_south_idle",
    paused: true,
    rows_cols: (2, 3),
    speed: 1.0,
    img_path: "texture/being/npc/dungeon/beholder/beholder_south.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_south_move",
    rows_cols: (2, 3),
    img_path: "texture/being/npc/dungeon/beholder/beholder_south.png",
    clips: [
        (
            target: 0,
            is_row: true,
        ),
        (
            target: 1,
            is_row: true,
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_north_idle",
    paused: true,
    rows_cols: (2, 3),
    speed: 1.0,
    img_path: "texture/being/npc/dungeon/beholder/beholder_north.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_north_move",
    rows_cols: (2, 3),
    img_path: "texture/being/npc/dungeon/beholder/beholder_north.png",
    clips: [
        (
            target: 0,
            is_row: true,
        ),
        (
            target: 1,
            is_row: true,
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_west_idle",
    paused: true,
    rows_cols: (2, 3),
    speed: 1.0,
    img_path: "texture/being/npc/dungeon/beholder/beholder_west.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_west_move",
    rows_cols: (2, 3),
    img_path: "texture/being/npc/dungeon/beholder/beholder_west.png",
    clips: [
        (
            target: 0,
            is_row: true,
        ),
        (
            target: 1,
            is_row: true,
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_east_idle",
    paused: true,
    rows_cols: (2, 3),
    speed: 1.0,
    img_path: "texture/being/npc/dungeon/beholder/beholder_east.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),
(
    id: "beholder_east_move",
    rows_cols: (2, 3),
    img_path: "texture/being/npc/dungeon/beholder/beholder_east.png",
    clips: [
        (
            target: 0,
            is_row: true,
        ),
        (
            target: 1,
            is_row: true,
        ),
    ],
    z: 1000,
    y_sort: Some(0),
)])
