([(
    id: "bronze_golem_south_idle",
    paused: true,
    rows_cols: (4, 5),
    speed: 1.0,
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_south_move",
    rows_cols: (4, 5),
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 0,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_north_idle",
    paused: true,
    rows_cols: (4, 5),
    speed: 1.0,
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_north_move",
    rows_cols: (4, 5),
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 1,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_west_idle",
    paused: true,
    rows_cols: (4, 5),
    speed: 1.0,
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 2,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_west_move",
    rows_cols: (4, 5),
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 2,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_east_idle",
    paused: true,
    rows_cols: (4, 5),
    speed: 1.0,
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 3,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "bronze_golem_east_move",
    rows_cols: (4, 5),
    img_path: "texture/being/npc/monster/bronze_golem.png",
    clips: [
        (
            target: 3,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
)])
