([(
    id: "ghost_he_south_idle",
    paused: true,
    rows_cols: (1, 4),
    speed: 1.0,
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 0,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_south_move",
    rows_cols: (1, 4),
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 0,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_north_idle",
    paused: true,
    rows_cols: (1, 4),
    speed: 1.0,
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 3,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_north_move",
    rows_cols: (1, 4),
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 3,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_west_idle",
    paused: true,
    rows_cols: (1, 4),
    speed: 1.0,
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 2,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_west_move",
    rows_cols: (1, 4),
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 2,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_east_idle",
    paused: true,
    rows_cols: (1, 4),
    speed: 1.0,
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 1,
            is_row: false,
        ),
    ],
    z: 1000,
),
(
    id: "ghost_he_east_move",
    rows_cols: (1, 4),
    img_path: "texture/being/npc/ghost_he.png",
    clips: [
        (
            target: 1,
            is_row: false,
        ),
    ],
    z: 1000,
)])
