([(
    id: "tiger_south_idle",
    rows_cols: Some((4, 4)),
    speed: Some(0.),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_south_move",
    rows_cols: Some((4, 4)),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 0,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_north_idle",
    rows_cols: Some((4, 4)),
    speed: Some(0.),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],z: 1000,
    y_sort: Some(0),

),(
    id: "tiger_north_move",
    rows_cols: Some((4, 4)),
    img_path: "texture/being/npc/tiger.png",
    //alternating_start_frames: Some((2, 4)),
    clips: [
        (
            target: 1,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_west_idle",
    rows_cols: Some((4, 4)),
    speed: Some(0.),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 2,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_west_move",
    rows_cols: Some((4, 4)),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 2,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_east_idle",
    rows_cols: Some((4, 4)),
    speed: Some(0.),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 3,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "tiger_east_move",
    rows_cols: Some((4, 4)),
    img_path: "texture/being/npc/tiger.png",
    clips: [
        (
            target: 3,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
)])
