([(
    id: "wolf_south_idle",
    paused: true,
    rows_cols: (4, 4),
    speed: 0.,
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 0,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_south_move",
    rows_cols: (4, 4),
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 0,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_north_idle",
    paused: true,
    rows_cols: (4, 4),
    speed: 0.,
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],z: 1000,
    y_sort: Some(0),

),(
    id: "wolf_north_move",
    rows_cols: (4, 4),
    img_path: "texture/being/npc/wolf.png",
    //alternating_start_frames: Some((2, 4)),
    clips: [
        (
            target: 1,
            start_frame: Some(1),
            is_row: true,
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_west_idle",
    paused: true,
    rows_cols: (4, 4),
    speed: 0.,
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 2,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_west_move",
    rows_cols: (4, 4),
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 2,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_east_idle",
    paused: true,
    rows_cols: (4, 4),
    speed: 0.,
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 3,
            is_row: true,
            partial: Some((0, 0)),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
),(
    id: "wolf_east_move",
    rows_cols: (4, 4),
    img_path: "texture/being/npc/wolf.png",
    clips: [
        (
            target: 3,
            is_row: true,
            start_frame: Some(1),
        ),
    ],
    z: 1000,
    y_sort: Some(0),
)])
