(
    id: "bronze_banyan",
    name: "Bronze banyan",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/elf/bronze_banyan.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 200.0)),


)