(
    id: "dogwood",
    name: "Dogwood",
    tags: ["tree", "veg"],
    img_paths: [
        ("", "texture/world/veg/tree/elf/dogwood.png")
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 135.0),
    z: 1000,
    y_sort: Some(0),
    colmask: [
        "1",
    ],

)
