(
    id: "ghost_birch",
    name: "Ghost birch",
    tags: ["tree", "veg"],
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/veg/tree/elf/ghost_birch.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 140.0),
    colmask: [
        "1",
    ],

)
