(
    id: "pink_blossom",
    name: "Pink blossom",
    img_paths: [
        ("", "texture/world/veg/tree/elf/pink_blossom.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    offset: (0.0, 90.0),
    z: 1000,
    y_sort: Some(0),


)
