(
    id: "ice",
    name: "Ice",
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "ice",
    walk_speed: 0.4,
    color: Some((255, 0, 0, 255)),
    step_sfx: (
        directory: "sound/step/snow",
        directory_weight: 1.0,
        prevent_repeat: true,
    ),
)
