(
    id: "ice",
    tags: ["land"],
    name: "Ice",
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/ice.jpg",
        priority: 50.0,
        scale: 8,
        speed: 0.0,
        wavy_strength: 0.0,
        time_offset: 0.0,
    ),
    walk_speed: 0.4,
    color: Some((255, 0, 0, 255)),
    step_sfx: (
        directory: "sound/step/snow",
        directory_weight: 1.0,
        prevent_repeat: true,
    ),
)
