(
    id: "sand",
    name: "Sand",
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    walk_speed: 0.6,

    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/sand.png",
        scale: 100,
        speed: 0.0,
        wavy_strength: 0.0,
        mask_color: (255., 0., 0., 255.),
        time_offset: 0.0,
    ),
    color: Some((255, 0, 0, 255)),
)
