(
    id: "elftree_sampler",
    weights: [
        ("banyan_ancient", 10.0),
        ("banyan", 10.0),
        ("banyan_bronze", 10.0),
        ("dogwood", 10.0),
        ("elf_thick_oak", 10.0),
        ("euca", 10.0),
        ("ghost_birch", 10.0),
        ("banyan_hollow", 10.0),
        ("lush_canopy", 10.0),
        ("pink_blossom", 10.0),
        ("silver_leaf", 10.0),
        ("banyan_thick", 10.0),
    ],
)


