(
    id: "abdomen",
    name: "Abdomen",
    coverage_weight: 25,
    forced_stats: {
        "hp_capacity": 28.0,
        "hp_regen_rate": 0.9,
        "pain_sensitivity": 1.2,
        "blood_capacity": 16.0,
        "manipulation": 0.2,
        "walk_speed": 0.0,
        "caloric_burn_rate": 1.8,
    },
    weighted_stats: {
        "walk_speed": 0.7,
        "mass_kg": 1.0,
    },
    depth: "inside",
    vital: false,
    bleed_rate: 0.9,
)
