(
    id: "arm",
    name: Some("Arm"),
    coverage_weight: Some(30),
    hp_capacity: Some(20.0),
    hp_regen_rate: Some(0.8),
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: Some(1.0),
    bleed_rate: Some(0.7),
    blood_capacity: Some(12.0),
    manipulation: Some(1.0),
    walk_speed: Some(0.6),
    swim_speed: Some(0.5),
    mass: Some(3.5),
    caloric_burn_rate: Some(1.8),
)
