(
    id: "body",
    name: Some("Body"),
    coverage_weight: 100,
    hp_capacity: 50.0,
    hp_regen_rate: 1.0,
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: 0.8,
    bleed_rate: 0.5,
    blood_capacity: 30.0,
    manipulation: 0.5,
    walk_speed: 0.0,
    walk_speed_weight: 1.0,
    swim_speed: 0.7,
    mass_weight: 50.0,
    caloric_burn_rate: 2.0,
)
