(
    id: "body",
    name: Some("Body"),
    coverage_weight: Some(100),
    hp_capacity: Some(50.0),
    hp_regen_rate: Some(1.0),
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: Some(0.8),
    bleed_rate: Some(0.5),
    blood_capacity: Some(30.0),
    manipulation: Some(0.5),
    walk_speed: Some(1.0),
    swim_speed: Some(0.7),
    mass: Some(50.0),
    caloric_burn_rate: Some(2.0),
)
