(
    id: "chest",
    name: Some("Chest"),
    coverage_weight: 35,
    hp_capacity: 30.0,
    hp_regen_rate: 0.9,
    depth: Some("inside"),
    vital: true,
    pain_sensitivity: 1.1,
    bleed_rate: 1.0,
    blood_capacity: 18.0,
    manipulation: 0.3,
    walk_speed: 0.0,
    walk_speed_weight: 0.7,
    mass_weight: 5.0,
    caloric_burn_rate: 2.0,
)
