(
    id: "head",
    name: Some("Head"),
    coverage_weight: Some(50),
    hp_capacity: Some(25.0),
    hp_regen_rate: Some(0.8),
    depth: Some("surface"),
    vital: true,
    pain_sensitivity: Some(1.5),
    bleed_rate: Some(1.2),
    blood_capacity: Some(15.0),
    manipulation: Some(0.2),
    vision: Some(1.0),
    mass: Some(4.5),
    caloric_burn_rate: Some(3.5),
)
