(
    id: "kidney",
    name: "Kidney",
    coverage_weight: 6,
    forced_stats: {
        "hp_capacity": 11.0,
        "hp_regen_rate": 0.8,
        "pain_sensitivity": 0.0,
        "blood_capacity": 6.5,
        "manipulation": 0.0,
        "caloric_burn_rate": 1.8,
    },
    weighted_stats: {
        "mass_kg": 0.3,
    },
    depth: "inside",
    vital: true,
    bleed_rate: 1.2,
)
