(
    id: "leg",
    name: "Leg",
    coverage_weight: 35,
    forced_stats: {
        "hp_capacity": 22.0,
        "hp_regen_rate": 0.8,
        "pain_sensitivity": 1.0,
        "blood_capacity": 13.0,
        "manipulation": 0.2,
        "walk_speed": 0.0,
        "swim_speed": 0.8,
        "caloric_burn_rate": 2.2,
    },
    weighted_stats: {
        "walk_speed": 1.2,
        "mass_kg": 7.0,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.7,
)
