(
    id: "liver",
    name: "Liver",
    coverage_weight: 10,
    forced_stats: {
        "hp_capacity": 15.0,
        "hp_regen_rate": 1.2,
        "pain_sensitivity": 0.0,
        "blood_capacity": 9.0,
        "manipulation": 0.0,
        "caloric_burn_rate": 2.2,
    },
    weighted_stats: {
        "mass_kg": 70.0,
    },
    depth: "inside",
    vital: true,
    bleed_rate: 1.5,
)
