(
    id: "lung",
    name: "Lung",
    coverage_weight: 20,
    forced_stats: {
        "hp_capacity": 22.0,
        "hp_regen_rate": 0.7,
        "pain_sensitivity": 0.0,
        "blood_capacity": 14.0,
        "manip_dex": 0.0,
        "caloric_burn_rate": 3.5,
    },
    weighted_stats: {
        "mass_kg": 1.2,
    },
    depth: "core",
    vital: true,
    bleed_rate: 1.8,
)
