(
    id: "lung",
    name: Some("Lung"),
    coverage_weight: Some(20),
    hp_capacity: Some(22.0),
    hp_regen_rate: Some(0.7),
    depth: Some("core"),
    vital: Some(true),
    pain_sensitivity: Some(0.0),
    bleed_rate: Some(1.8),
    blood_capacity: Some(14.0),
    manipulation: Some(0.0),
    mass: Some(1.2),
    caloric_burn_rate: Some(3.5),
)
