(
    id: "mouth",
    name: "Mouth",
    coverage_weight: 3,
    forced_stats: {
        "hp_capacity": 7.0,
        "hp_regen_rate": 0.8,
        "pain_sensitivity": 1.4,
        "blood_capacity": 3.5,
        "manipulation": 0.1,
        "caloric_burn_rate": 0.4,
    },
    weighted_stats: {
        "mass_kg": 0.1,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.9,
)
