(
    id: "mouth",
    name: Some("Mouth"),
    coverage_weight: 3,
    hp_capacity: 7.0,
    hp_regen_rate: 0.8,
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: 1.4,
    bleed_rate: 0.9,
    blood_capacity: 3.5,
    manipulation: 0.1,
    mass_weight: 0.1,
    caloric_burn_rate: 0.4,
)
