(
    id: "neck",
    name: Some("Neck"),
    coverage_weight: 8,
    hp_capacity: 12.0,
    hp_regen_rate: 0.8,
    depth: Some("surface"),
    vital: true,
    pain_sensitivity: 1.6,
    bleed_rate: 1.5,
    blood_capacity: 10.0,
    manipulation: 0.1,
    walk_speed: 0.0,
    walk_speed_weight: 0.5,
    mass_weight: 1.2,
    caloric_burn_rate: 1.2,
)
