(
    id: "nose",
    name: Some("Nose"),
    coverage_weight: Some(2),
    hp_capacity: Some(5.0),
    hp_regen_rate: Some(0.7),
    depth: Some("surface"),
    vital: Some(false),
    pain_sensitivity: Some(1.3),
    bleed_rate: Some(1.0),
    blood_capacity: Some(2.5),
    manipulation: Some(0.0),
    mass: Some(0.05),
    caloric_burn_rate: Some(0.2),
)
