(
    id: "nose",
    name: Some("Nose"),
    coverage_weight: 2,
    hp_capacity: 5.0,
    hp_regen_rate: 0.7,
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: 1.3,
    bleed_rate: 1.0,
    blood_capacity: 2.5,
    manipulation: 0.0,
    mass_weight: 0.05,
    caloric_burn_rate: 0.2,
)
