(
    id: "pelvis",
    name: Some("Pelvis"),
    coverage_weight: 15,
    hp_capacity: 20.0,
    hp_regen_rate: 0.9,
    depth: Some("inside"),
    vital: false,
    pain_sensitivity: 1.0,
    bleed_rate: 0.7,
    blood_capacity: 12.0,
    manipulation: 0.1,
    swim_speed: 0.9,
    mass_weight: 1.0,
    caloric_burn_rate: 1.5,
)
