(
    id: "tail",
    name: Some("Tail"),
    coverage_weight: 10,
    hp_capacity: 10.0,
    hp_regen_rate: 0.8,
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: 1.1,
    bleed_rate: 0.6,
    blood_capacity: 6.0,
    manipulation: 0.0,
    walk_speed: 0.0,
    walk_speed_weight: 0.1,
    swim_speed: 0.2,
    mass_weight: 0.6,
    caloric_burn_rate: 0.4,
)
