(
    id: "torso",
    name: Some("Torso"),
    coverage_weight: 80,
    hp_capacity: 45.0,
    hp_regen_rate: 1.0,
    depth: Some("surface"),
    vital: false,
    pain_sensitivity: 1.0,
    bleed_rate: 0.8,
    blood_capacity: 25.0,
    manipulation: 0.6,
    walk_speed: 0.0,
    walk_speed_weight: 0.8,
    swim_speed: 0.6,
    mass_weight: 18.0,
    caloric_burn_rate: 2.5,
)
