(
    id: "bear",
    fallback_faction: "host",
    points: 10,

    race: "bear",
    scs_samplers: ["bear"],
    sprites_scale_ranges: {},
    health_multiplier: 1.0,

    body_tree: "",
    recruitment_difficulty: None,

    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
    size_variation: Some((min: 0.7, max: 3.0, mean: 1.0, std_dev: 0.1)),
    hori_variation: Some((min: 0.95, max: 1.05, mean: 1.0, std_dev: 0.05)),
    vert_variation: Some((min: 0.95, max: 1.05, mean: 1.0, std_dev: 0.05)),
)
