(
    id: "evil_tree",
    points: 10,
    race: "evil_tree",
    sprites_scale_ranges: {},
    health_multiplier: 1.0,
    recruitment_difficulty: None,
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
)
