(
    id: "familiar_fire",
    points: 10,
    race: "familiar_fire",
    sprites_scale_ranges: {},
    health_multiplier: 1.0,
    recruitment_difficulty: None,
    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],
)
