(
    id: "orc1",
    points: 0,

    race: "orc",
    scs_samplers: ["orc1"],
    sprites_scale_ranges: {},
    health_multiplier: 1.0,
    body: "orc1",

    recruitment_difficulty: None,

    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],

    pack_spawn_radius: 7,
)
