(
    id: "player_warrior",
    points: 10,

    race: "human",
    sprites_scale_ranges: {},
    health_multiplier: 1.0,

    recruitment_difficulty: None,

    whitelisted_tiles_for_spawning: [],
    blacklisted_tiles_for_spawning: [],

    pack_radius: 4,
)
