//.ron file for structured generation configuration
(
    id: "archi_catas",
    structure_id: "archi",
    weight: 1.0,
    tags: [ "dungeon", "" ],
    args: {
        "floor_tile_id": ["ducatas"],
        "wall_tile_id": ["nw"],
        "lava_tile_id": ["lava"],
        "boulder_sampler_id": ["boulder_sampler"],
        "boulder_frequency": ["0.025"],
        "delete_spared_tags": ["boulder", "dungeon_floor"],
        "claim_square_min_side_length": ["8"],
        "claim_square_max_side_length": ["10"],
        "claim_square_normal_mean": ["9.0"],
        "claim_square_normal_std_dev": ["3.0"],

    },
    // pdisk_mindist_and_tag: [
    //     (Some(0), "dungeon"),
    // ],
)
