//.ron file for structured generation configuration
(
    id: "drunkwalk_gen_cfg0",
    structure_id: "drunkwalk",
    weight: 1.0,
    tags: Some([ "dungeon", "" ]),
    pdisk_mindist_and_tag: Some([
        (Some(2), "dungeon"),
    ]),
)