//.ron file for structured generation configuration
(
    id: "dw_catas",
    structure_id: "drunkwalk",
    weight: 1.0,
    tags: [ "dungeon", "" ],
    whitelisted_tags: [ "dungeon", "river" ],
    args: {
        "floor_tile_id": ["ducatas"],
        "wall_tile_id": ["nw"],
        "lava_tile_id": ["lava"],
        "boulder_sampler_id": ["boulder_sampler"],
        "boulder_frequency": ["0.02"],
        "disable_terrgen.floor_tile_id": ["true"],
    },
    // pdisk_mindist_and_tag: [
    //     (Some(0), "dungeon"),
    // ],
)
