//.ron file for structured generation configuration
(
    id: "dw_catas",
    structure_id: "drunkwalk",
    weight: 1.0,
    tags: [ "dungeon", "" ],
    whitelisted_tags: [ "dungeon", "river" ],
    args: {
        "floor_tile_id": ["ducatas"],
        "wall_tile_id": ["nw"],
        "lava_tile_id": ["lava"],
        "boulder_sampler_id": ["boulder_sampler"],
        "boulder_frequency": ["0.02"],
        "delete_other_tiles.*.spared_tags": ["boulder"],
        "delete_other_tiles_tag.boulder.spared_tags": ["floor", "dungeon_floor"],
        "delete_other_tiles_tag.dungeon_floor.targeted_tags": ["floor"],
        "delete_other_tiles_tag.dungeon_floor.spared_tags": ["dungeon_floor"],
    },
    // pdisk_mindist_and_tag: [
    //     (Some(0), "dungeon"),
    // ],
)
