//.ron file for structured generation configuration
(
    id: "dw_newbie",
    structure_id: "drunkwalk",
    weight: 1.0,
    tags: [ "dungeon", "" ],
    args: {
        "floor_tile_id": ["dunewbie"],
        "wall_tile_id": ["nw"],
        "lava_tile_id": ["lava"],
    },
    // pdisk_mindist_and_tag: [
    //     (Some(0), "dungeon"),
    // ],
)
