(
    id: "global_gen_settings",
    seed: 3,
    world_freq: 0.010,
    tectonic_frequency: 1.0,
    hot_reload_window_open_on_start: true,
    structure_build_timeout_secs: 4.0,
    players_spawn_probe_id: "coanta",
)
