(
    id: "temp_bush1",
    name: "Temperate bush 1",
    tags: ["bush", "veg"],
    z: 1000,
    y_sort: 15.0,
    img_paths: [
        ("", "texture/world/veg/bush/bush1.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    color_map: "nase",
    size_variation: (min_dev: 0.3, max_dev: 0.3, mean: 1.01, std_dev: 0.1),
    hori_variation: (min_dev: 0.3, max_dev: 0.3, mean: 1.01, std_dev: 0.05),
    vert_variation: (min_dev: 0.3, max_dev: 0.3, mean: 1.01, std_dev: 0.05),
)
