(
    id: "dungeon",
    name: "Dungeon dimension",
    description: "The dungeon dimension",
    root_oplist: "dungeon_root",
    tags: [ "dungeon", ],
    whitelisted_structure_gen_tags: [ "dungeon", ],
    daylight: (
        day_length_minutes: 30.0,
        minute_offset: 0.0,
        paused_daylight: true,
        ambient_color_rgb: (1.0, 1.0, 1.0),
        ambient_brightness: 1.1,
        night_color_rgb: (1.0, 1.0, 1.0),
        dawn_dusk_color_rgb: (1.0, 1.0, 1.0),
        ambient_min_brightness_factor: 1.0,
        ambient_max_brightness_factor: 1.0,
        disable_directional_light: true,
        directional_light_color_rgb: (1.0, 1.0, 1.0),
    ),
)