(
    id: "golden_sprig",
    name: "Golden Sprig",
    img_paths: [
        ("default", "texture/world/vegetation/tree/golden_sprig.png"),
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 148.0)),
    z: 1000,

    tmapchild: true,

)