(
    id: "golden_sprig",
    name: "Golden Sprig",
    img_paths: {
        "default": "texture/world/tree/golden_sprig.png"
    },
    shader: "",
    sprite: true,
    offset: (0.0, 148.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    somecomp_present: Some(true),
    tmapchild: false,
    ysort: Some(0.0),
)