(
    id: "maple",
    name: "Maple",
    img_paths: [
        ("", "texture/world/vegetation/tree/maple.png"),
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 120.0)),
    z: 1000,


)