(
    id: "poplar1",
    name: "Poplar",
    img_paths: {
        "default": "texture/world/vegetation/poplar1.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 150.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    tmapchild: true,
    ysort: Some(0.0),
)