(
    id: "treebush",
    name: "Treebush",
    img_paths: [
        ("default", "texture/world/vegetation/tree/treebush.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 120.0)),
    z: 1000,

    tmapchild: true,

)