(
    id: "willow_orange",
    name: "Orange willow",
    img_paths: [
        ("", "texture/world/vegetation/tree/willow_orange.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 150.0)),
    z: 1000,


)