(
    id: "willow_orange",
    name: "Orange willow",
    cats: [],
    img_paths: {
        "default": "texture/world/vegetation/willow_orange.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 150.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    tmapchild: true,
    ysort: Some(0.0),
)