(
    id: "temp_bush0",
    name: "Temperate bush 0",
    img_paths: {
        "default": "texture/world/vegetation/bush0.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 0.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "nase",
    spawns: [],
    spawns_children: [],
    somecomp_present: Some(true),
    tmapchild: true,
    ysort: Some(0.0),
)