(
    id: "beachbig",
    frequency: 0.22,
    noise_type: "OpenSimplex2S",
    fractal_type: "FBm",
    octaves: 5,
    lacunarity: 2.0,
    gain: 0.5,
    weighted_strength: 0.0,
    ping_pong_strength: 2.0,
)
