(
    id: "body_east_move",
    rows_cols: Some((4, 6)),
    img_path: "texture/being/body/human/male.png",
    clips: [
        (
            target: 3,
            is_row: true,
            partial: Some((0, 4)),
        )
    ],
    z: 100000,
)