(
    id: "body_south_move",
    rows_cols: Some((4, 6)),
    img_path: "texture/being/body/human/male.png",
    clips: [
        (
            target: 0,
            is_row: true,
        )
    ],
    z: 100000,
)