SpriteDataSeri(
    id: "human_head0",
    name: "Human Head 0",
    path: "being/head/human/0.png",
    category: "head",
    shares_category: true,
    rows_cols: [1, 1],
    frame_size: [32, 32],
    offset: [0.0, 0.0, 0.0],
    directionable: false,
    walk_anim: false,
    swim_anim: false,
    swim_anim_still: false,
    fly_anim: false,
    fly_anim_still: false,
    flip_horiz: 0,
    anim_prefix: "",
    children_sprites: [],
    offset_down: None,
    offset_up: None,
    offset_sideways: None,
    offset_up_down: None,
    scale: None,
    scale_up_down: None,
    scale_sideways: None,
    color: None,
    exclude_from_sys: None,
)