
(
    id: "b1",
    operation_operands: [
        ("max", ["fnl.conti.s4","fnl.penin.s4",], 1),
        ("*", ["$2","$4",], 1),
        ("idxmax", ["0.3", "$1"], 0),

    ],
    tags: Some([ "portal", "" ]),
   
    bifs: [
        ("", ["pink"]),
        ("", ["pink"]),
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)
