(
    id: "tiger",
    name: "Tiger Body",
    tags: ["quadruped"],
    distributed_totals: {
        "mass_kg": 150.0,
        "hp_capacity": 675.0,
        "hp_regen_rate": 24.2,
        "blood_capacity": 301.5,
        "bleed_rate": 31.3,
        "walk_strength": 85.0,
        "swim_strength": 8.1,
        "manip_dex": 4.0,
        "vision": 2.0,
        "pain_sensitivity": 28.1,
        "caloric_burn_rate": 54.5,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 1.0,
    max_fat_mobilization_kcal_per_sec: 9999.0,
    max_lean_catabolism_kcal_per_sec: 9999.0,
    damage_per_sec_at_zero_lean: 1.0,
    bodytree_id: "pawed",
)
