(
    id: "ow_root",
    operation_operands: [
        ("+", ["fnl.conti_nofract", "0.0"], 1),
        ("+", ["fnl.conti_nofract.s2", "0.0"], 2),
        ("-", ["$1", "$2"], 3),
        ("-", ["$2", "$1"], 4),
        ("idxmax", ["$3", "$4", "0.3"], 0),

    ],
   
    bifs: [
        ("1normal", [""]),
        ("", ["black"]),
        ("", ["ocean"])
    ],
    root_in_dimensions: ["ow"],
    size: Some((1, 1)),

)

//max(a*(1-b+b_t), b*(1-a+)) > ocean threshold
