(
    id: "ow_root",
    root: true,
    operation_operands: {
        "=": ["natgen",],
    },
   
    bifover: "1sep",
    tiles_over: [],
    split: 0.5,
    bifunder: "",
    tiles_under: ["ocean"],
    root_in_dimensions: ["ow"],
    size: Some((1, 1)),

)