(
    id: "ow_root",
    operation_operands: [
        ("=", ["natgen"], 0),
    ],
   
    bifover: "1sep",
    tiles_over: [],
    split: 0.5,
    bifunder: "",
    tiles_under: ["ocean"],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)