(
    id: "1sep",
    operation_operands: [
        ("=", ["myst"], 0),
    ],
   
    bifover: "myst",
    tiles_over: [],
    split: 0.5,
    bifunder: "normal",
    tiles_under: [],
    root_in_dimensions: [],
    size: Some((1, 1)),

)