(
    id: "2normal",
    operation_operands: [
        ("max", ["fnl.beachbig", "fnl.beachsmol",], 2),
        ("avg", ["$2", "0.5", ], 2),
        ("lin", ["$1", "-15.8", "5.54", "$2",], 2),        
        ("idxmax", ["0.4", "$2"], 0),

    ],
   
    bifs: [
        ("3normal", [""]),
        ("", ["sand"]),
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)

//max(a*(1-b+b_t), b*(1-a+)) > ocean threshold
