(
    id: "elf4",
    operation_operands: [
        //tree
        ("idxmax", ["hp81", "0.14"], 4),
        ("avg", ["fnl.forest.s3", "$4"], 4),
        ("*", ["$4", "pd499", ], 4),

        //bush
        ("idxmax", ["hp82", "0.07"], 5),
        ("*", ["$5", "pd12", ], 5),
        ("+", ["$5", "-0.0"], 5),

        ("idxmax", ["0.5","$4", "$5"], 0),

    ],
   
    bifs: [
        ("", [""]),
        ("", ["elftree_sampler"]),
        ("", ["elfveg_sampler"]),
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)

//max(a*(1-b+b_t), b*(1-a+)) > ocean threshold
