(
    id: "myst",

    operation_operands: [
        ("*", ["natgen","myst","conti2"], 0),
    ],
   
   
    bifover: "",
    tiles_over: ["black"],
    split: 0.3,
    bifunder: "",
    tiles_under: ["dblue"],
    root_in_dimensions: [],
    size: Some((1, 1)),

)