(
    id: "normal4",
    operation_operands: [

        //(sandy) beach farness
        ("*", ["COMP$2", "1.1"], 2),


        //shared disk
        ("+", ["pd299", ], 9),

        //tree
        ("idxmax", ["hp81", "0.05"], 4),
        ("max", ["fnl.forest", "$4", "$8"], 4),
        ("*", ["$4", "$9", "$2"], 4),

        //cave portal
        ("idxmax", ["hp81", "0.0001"],5),//0.0001 para freq /10, 0.001 para demostraciones

        ("*", ["$5", "$8", "2"], 5),

        //bush
        ("idxmax", ["hp82", "0.10"], 7),
        ("*", ["$7", "pd12", ], 7),
        ("+", ["$7", "-0.0"], 7),

        ("idxmax", ["0.5","$4", "$5", "$7"], 0),

    ],
   
    bifs: [
        ("", [""]),
        ("", ["temptree_sampler", ""]),//temptree_sampler
        ("", ["portal_cave", "cyan"]),//
        ("", ["tempveg_sampler", ""]),
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)

//max(a*(1-b+b_t), b*(1-a+)) > ocean threshold
