(
    id: "normal2",
    operation_operands: [
        //WATER PROXIMITY
        ("lin", ["$1", "-15.8", "5.54", ], 8),        

        ("max", ["fnl.beachbig", "fnl.beachsmol",], 2),
        ("avg", ["$2", "0.5", ], 2),
        ("*", ["$2", "$8", ], 2),
        ("clamp", ["$2", ], 2),
        ("idxmax", ["0.4", "$2"], 0),

    ],
   
    bifs: [
        ("normal3", [""]),
        ("", ["sand"]),
        ("", [""]),//TODO PONER GRAVEL DONDE
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)

