(
    id: "normal",
    operation_operands: [
        ("*", ["natgen","COMPmyst","conti"], 0),
    ],

    bifover: "",
    tiles_over: ["tempgrass"],
    split: 0.5,
    bifunder: "",
    tiles_under: ["blue"],
    root_in_dimensions: [],
    size: Some((1, 1)),

)