(
    id: "pink",
    root: true,
    operation_operands: {
        "": ["",],
    },
   
    bifurcation_over: "",
    threshold: 0.0,
    bifurcation_under: "",
    tiles: [
        "pink"
    ],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)