(
    id: "boulder_gray_large",
    name: "Gray large boulder",
    tags: ["land", "boulder", "rock"],
    z: 1000,
    y_sort: 15.0,
    img_paths: [
        ("", "texture/world/boulder/big.png"),
    ],
    is_spritetile: true,
    randflipx: true, randflipy: true, randflipd: true,
    offset: (32.0, 32.0),
    size_in_tiles: (3, 3),
    colmask: [
        "111",
        "111",
        "111",
    ],
    light_occluder: (
        enabled: true,
        color: (0, 0, 0, 255),
        offset: (0.0, 0.0),
        use_sprite: true,
    ),
)
