(
    id: "boulder_pink_large",
    name: "Pink large boulder",
    tags: ["boulder", "rock", "pink"],
    z: 1000,
    y_sort: Some(10),
    img_paths: [
        ("", "texture/world/boulder/pink_boulder.png"),
    ],
    is_spritetile: true,
    randflipx: true, randflipy: true, randflipd: true,
    offset: (32.0, 32.0),
    size_in_tiles: (3, 3),
    colmask: [
        "010",
        "111",
        "111",
    ],
)
