(
    id: "boulder_purple_medium",
    name: "Purple medium boulder",
    tags: ["boulder", "rock", "purple"],
    z: 1000,
    y_sort: Some(10),
    img_paths: [
        ("", "texture/world/boulder/medpurple.png"),
    ],
    is_spritetile: true,
    randflipx: true, randflipy: true, randflipd: true, randrot: true, transform_based_card_rotation: true,
    offset: (12.0, 0.0),
    size_in_tiles: (2, 1),
    colmask: [
        "11",
    ],
)
