(
    id: "tempgrass",
    tags: ["land"],
    name: "Temp grass",
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/grass.png",
        priority: 10.0,
        scale: 10,
        speed: 0.0,
        wavy_strength: 0.0,
        time_offset: 0.0,
    ),
    color: Some((255, 0, 0, 255)),
)
