(
    id: "ant",
    name: "Ant Body",
    tags: ["arachnid"],
    mass_kg: 2.0,
    distributed_totals: {
        "mass_kg": 2.0,
        "hp_capacity": 259.0,
        "hp_regen_rate": 11.0,
        "blood_capacity": 146.4,
        "bleed_rate": 12.0,
        "walk_speed": 0.5,
        "swim_speed": 0.2,
        "manip_dex": 2.2,
        "manip_str": 0.4,
        "vision": 1.0,
        "pain_sensitivity": 16.0,
        "caloric_burn_rate": 27.4,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    root: (
        part_id: "cephalothorax",
        label_override: "Cephalothorax",
        children: [
            (part_id: "brain", label_override: "Brain", children: []),
            (part_id: "eye", label_override: "Front Left Eye", children: []),
            (part_id: "eye", label_override: "Front Right Eye", children: []),
            (part_id: "fang", label_override: "Left Fang", children: []),
            (part_id: "fang", label_override: "Right Fang", children: []),
            (part_id: "leg", label_override: "Front Left Leg", children: []),
            (part_id: "leg", label_override: "Front Right Leg", children: []),
            (part_id: "leg", label_override: "Mid Front Left Leg", children: []),
            (part_id: "leg", label_override: "Mid Front Right Leg", children: []),
            (part_id: "leg", label_override: "Mid Rear Left Leg", children: []),
            (part_id: "leg", label_override: "Mid Rear Right Leg", children: []),
            (part_id: "leg", label_override: "Rear Left Leg", children: []),
            (part_id: "leg", label_override: "Rear Right Leg", children: []),
            (part_id: "abdomen", label_override: "Abdomen", children: []),
        ],
    ),
)
