(
    id: "spider",
    name: "Spider Body",
    tags: ["arachnid"],
    root: (
        part_id: "cephalothorax",
        label_override: "Cephalothorax",
        children: [
            (part_id: "brain", label_override: "Brain", children: []),
            (part_id: "eye", label_override: "Front Left Eye", children: []),
            (part_id: "eye", label_override: "Front Right Eye", children: []),
            (part_id: "fang", label_override: "Left Fang", children: []),
            (part_id: "fang", label_override: "Right Fang", children: []),
            (part_id: "leg", label_override: "Front Left Leg", children: []),
            (part_id: "leg", label_override: "Front Right Leg", children: []),
            (part_id: "leg", label_override: "Mid Front Left Leg", children: []),
            (part_id: "leg", label_override: "Mid Front Right Leg", children: []),
            (part_id: "leg", label_override: "Mid Rear Left Leg", children: []),
            (part_id: "leg", label_override: "Mid Rear Right Leg", children: []),
            (part_id: "leg", label_override: "Rear Left Leg", children: []),
            (part_id: "leg", label_override: "Rear Right Leg", children: []),
            (part_id: "abdomen", label_override: "Abdomen", children: []),
        ],
    ),
)
