(
    id: "lake",
    name: "Lake",
    img_paths: {
        "default": "texture/world/white.png"
    },
    shader: "lake",
    sprite: false,
    offset: (0.0, 0.0),
    z: 10,
    color: Some((255, 0, 0, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    somecomp_present: Some(true),
    tmapchild: true,
)