(
    id: "lake",
    name: "Lake",
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/water/lake.png",
        priority: 60.0,
        scale: 25,
        speed: 0.0,
        wavy_strength: 0.0,
        time_offset: 0.0,
    ),
    color: Some((255, 0, 0, 255)),
)
