(
    id: "lava",
    name: "Lava",
    tags: ["liquid", "hot"],
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "lava",
    color: Some((255, 0, 0, 255)),
)
