(
    id: "ocean",
    name: "Ocean",
    tags: ["water", "liquid", "deep"],
    z: -950,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "ocean_waves",
    color: Some((255, 0, 0, 255)),
)
