(
    id: "ocean",
    name: "Ocean",
    tags: ["water", "liquid", "deep"],
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    walk_speed: 0.99,
    //liquid: true,

    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/water/19.png",
        scale: 0.003,
        speed: 0.5,
        wavy_strength: 1.0,
        mask_color: (255., 0., 0., 255.),
        time_offset: 0.0,
    ),
    color: Some((255, 0, 0, 255)),
)
