SpriteConfigSeri(
    id: "cock",
    name: "Cock",
    mapped_anims: {
        ("south", "idle", "g", "") : "cock_south_idle",
        ("south", "move", "g", "") : "cock_south_move",
        ("west", "idle", "g", "") : "cock_west_idle",
        ("west", "move", "g", "") : "cock_west_move",
        ("east", "idle", "g", "") : "cock_east_idle",
        ("east", "move", "g", "") : "cock_east_move",
        ("north", "idle", "g", "") : "cock_north_idle",
        ("north", "move", "g", "") : "cock_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    base_movement_speed: 200.0,
    offset: (0., 4.),
    scale: (1.2, 1.2),
    tags: [],
)
