SpriteConfigSeri(
    id: "dragon",
    name: "Dragon",
    mapped_anims: {
        ("south", "idle", "g", "") : "dragon_south_idle",
        ("south", "move", "g", "") : "dragon_south_move",
        ("west", "idle", "g", "") : "dragon_west_idle",
        ("west", "move", "g", "") : "dragon_west_move",
        ("east", "idle", "g", "") : "dragon_east_idle",
        ("east", "move", "g", "") : "dragon_east_move",
        ("north", "idle", "g", "") : "dragon_north_idle",
        ("north", "move", "g", "") : "dragon_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    base_movement_speed: 200.0,
    offset: (0., 6.),
    scale: (1.2, 1.2),
    tags: [],
)
