SpriteConfigSeri(
    id: "fango",
    name: "Fango",
    mapped_anims: {
        ("south", "idle", "g", "") : "fango_south_idle",
        ("south", "move", "g", "") : "fango_south_move",
        ("west", "idle", "g", "") : "fango_west_idle",
        ("west", "move", "g", "") : "fango_west_move",
        ("east", "idle", "g", "") : "fango_east_idle",
        ("east", "move", "g", "") : "fango_east_move",
        ("north", "idle", "g", "") : "fango_north_idle",
        ("north", "move", "g", "") : "fango_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    baseline_move_speed: 200.0,
    offset: (0., 6.),
    scale: (1.2, 1.2),
    tags: [],
)
