SpriteConfigSeri(
    id: "orc0",
    name: "Orc",
    mapped_anims: {
        ("south", "idle", "g", "") : "orc0_south_idle",
        ("south", "move", "g", "") : "orc0_south_move",
        ("west", "idle", "g", "") : "orc0_west_idle",
        ("west", "move", "g", "") : "orc0_west_move",
        ("east", "idle", "g", "") : "orc0_east_idle",
        ("east", "move", "g", "") : "orc0_east_move",
        ("north", "idle", "g", "") : "orc0_north_idle",
        ("north", "move", "g", "") : "orc0_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    baseline_move_speed: 200.0,
    offset: (0., 6.),
    scale: (1.2, 1.2),
    tags: [],
)
