SpriteConfigSeri(
    id: "pig",
    name: "pig",
    mapped_anims: {
        ("south", "idle", "g", "") : "pig_south_idle",
        ("west", "idle", "g", "") : "pig_west_idle",
        ("east", "idle", "g", "") : "pig_east_idle",
        ("north", "idle", "g", "") : "pig_north_idle",
        ("south", "move", "g", "") : "pig_south_move",
        ("west", "move", "g", "") : "pig_west_move",
        ("east", "move", "g", "") : "pig_east_move",
        ("north", "move", "g", "") : "pig_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    animation_sfx: ["sound/step.wav"],
    animation_sfx_every_n_frame_changes: 2.5,
    directionable: true,
    movement_based: true,
    grounding_based: false,
    base_movement_speed: 300.0,
    offset: (0., -0.),//ta bien
    scale: (1.2, 1.2),
)

// TODO: hacer que se puedan aplicar colorses sobre máscaras como en humanoid alien races del rimworld
