SpriteConfigSeri(
    id: "tiger",
    name: "Tiger",
    mapped_anims: {
        ("south", "idle", "g", "") : "tiger_south_idle",
        ("south", "move", "g", "") : "tiger_south_move",
        ("west", "idle", "g", "") : "tiger_west_idle",
        ("west", "move", "g", "") : "tiger_west_move",
        ("east", "idle", "g", "") : "tiger_east_idle",
        ("east", "move", "g", "") : "tiger_east_move",
        ("north", "idle", "g", "") : "tiger_north_idle",
        ("north", "move", "g", "") : "tiger_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    baseline_move_speed: 200.0,
    offset: (-6., 6.),
    scale: (1.2, 1.2),
    tags: [],
)
