SpriteConfigSeri(
    id: "turtle",
    name: "Turtle",
    mapped_anims: {
        ("south", "idle", "g", "") : "turtle_south_idle",
        ("south", "move", "g", "") : "turtle_south_move",
        ("west", "idle", "g", "") : "turtle_west_idle",
        ("west", "move", "g", "") : "turtle_west_move",
        ("east", "idle", "g", "") : "turtle_east_idle",
        ("east", "move", "g", "") : "turtle_east_move",
        ("north", "idle", "g", "") : "turtle_north_idle",
        ("north", "move", "g", "") : "turtle_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    baseline_move_speed: 40.0,
    offset: (0., 6.),
    scale: (1.2, 1.2),
    tags: [],
)
