SpriteConfigSeri(
    id: "wolf",
    name: "wolf",
    mapped_anims: {
        ("south", "idle", "g", "") : "wolf_south_idle",
        ("west", "idle", "g", "") : "wolf_west_idle",
        ("east", "idle", "g", "") : "wolf_east_idle",
        ("north", "idle", "g", "") : "wolf_north_idle",
        ("south", "move", "g", "") : "wolf_south_move",
        ("west", "move", "g", "") : "wolf_west_move",
        ("east", "move", "g", "") : "wolf_east_move",
        ("north", "move", "g", "") : "wolf_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    offset: (0., 6.),//ta bien
    scale: (1.2, 1.2),
)

// TODO: hacer que se puedan aplicar colorses sobre máscaras como en humanoid alien races del rimworld
