SpriteConfigSeri(
    id: "yeti",
    name: "Yeti",
    z: 1000,
    mapped_anims: {
        ("south", "idle", "g", "") : "yeti_south_idle",
        ("south", "move", "g", "") : "yeti_south_move",
        ("west", "idle", "g", "") : "yeti_west_idle",
        ("west", "move", "g", "") : "yeti_west_move",
        ("east", "idle", "g", "") : "yeti_east_idle",
        ("east", "move", "g", "") : "yeti_east_move",
        ("north", "idle", "g", "") : "yeti_north_idle",
        ("north", "move", "g", "") : "yeti_north_move",
    },
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    is_being_root_sprite: true,
    baseline_move_speed: 70.0,
    offset: (0., 70.),
    scale: (1.2, 1.2),
    tags: [],
)
