SpriteConfigSeri(
    id: "humanbo0",
    name: "Human Body 0",
    mapped_anims: {
        ("south", "idle", "g", "") : "body_south_idle",
        ("west", "idle", "g", "") : "body_west_idle",
        ("east", "idle", "g", "") : "body_east_idle",
        ("north", "idle", "g", "") : "body_north_idle",
        ("south", "move", "g", "") : "body_south_move",
        ("west", "move", "g", "") : "body_west_move",
        ("east", "move", "g", "") : "body_east_move",
        ("north", "move", "g", "") : "body_north_move",
    },
    parent_cat: None,
    tags: Some(["body"]),
    children_sprites: Some([]),
    shares_tag: Some([]),
    directionable: Some(true),
    movement_based: Some(true),
    grounding_based: Some(false),
    offset: Some((0., -16.)),
    offset4children: Some({
        "head": (0., 21., "")
    }),
)