(
    id: "humanbo0",
    name: "Human Body 0",
    img_path: "texture/being/body/human/male.png",
    categories: ["body"],
    shares_category: [],
    rows_cols: (4, 6),
    frame_size: (25, 45),
    offset: (0.0, 0.0),
    z: 100000,
    directionable: true,
    walk_anim: true,
    swim_anim: false,
    swim_anim_still: false,
    fly_anim: false,
    fly_anim_still: false,
    flip_horiz: 0,
    anim_prefix: "_body",
    visibility: 0,
    parent_cat: "",
    offset4children: {
        "head": (0., 21.)
    },
    children_sprites: [],
    offset_down: None,
    offset_up: None,
    offset_sideways: None,
    offset_up_down: None,
    scale: None,
    scale_up_down: None,
    scale_sideways: None,
    color: None,
    exclude_from_sys: None,
)