(
    id: "penguin",
    name: "Penguin Body",
    tags: ["bird"],
    distributed_totals: {
        "mass_kg": 25.0,
        "hp_capacity": 180.0,
        "hp_regen_rate": 8.0,
        "blood_capacity": 60.0,
        "bleed_rate": 7.0,
        "walk_strength": 8.0,
        "swim_strength": 20.0,
        "manip_dex": 1.5,
        "vision": 2.0,
        "pain_sensitivity": 12.0,
        "caloric_burn_rate": 25.0,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 0.0,
    bodytree_id: "penguin",
)
