(
    id: "nase",
    operation_operands: [
        ("-", ["conti","conti2"], 0),
    ],
   
    bifover: "",
    tiles_over: ["tempgrass"],
    split: 0.0,
    bifunder: "",
    tiles_under: ["black"],
    root_in_dimensions: [""],
    size: Some((1, 1)),

)

//max(a*(1-b), b*(1-a)) > ocean threshold