(
    id: "tree_dead2",
    name: "Dead tree",
    img_paths: [
        ("", "texture/world/vegetation/tree/dead/tree_dead2.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 120.0)),
    z: 1000,

    tmapchild: true,

)