(
    id: "body_west_idle",
    rows_cols: Some((4, 6)),
    img_path: "texture/being/body/human/male.png",
    clips: [
        (
            target: 2,
            is_row: true,
            partial: Some((0, 0)),
        )
    ],
    z: 100000,
)