(
    id: "body_north_idle",
    rows_cols: Some((4, 6)),
    img_path: "texture/being/body/human/male.png",
    clips: [
        (
            target: 1,
            is_row: true,
            partial: Some((0, 0)),
        )
    ],
    z: 1000.00,
    y_sort: Some(0),
)