SpriteConfigSeri(
    id: "mahubo0",
    name: "Human male body 0",
    mapped_anims: {
        ("south", "idle", "g", "") : "mahubo0_south_idle",
        ("west", "idle", "g", "") : "mahubo0_west_idle",
        ("east", "idle", "g", "") : "mahubo0_east_idle",
        ("north", "idle", "g", "") : "mahubo0_north_idle",
        ("south", "move", "g", "") : "mahubo0_south_move",
        ("west", "move", "g", "") : "mahubo0_west_move",
        ("east", "move", "g", "") : "mahubo0_east_move",
        ("north", "move", "g", "") : "mahubo0_north_move",
    },
    parent_cat: "",
    tags: ["body"],
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: true,
    grounding_based: false,
    offset: (0., 16.),//ta bien
    offset4children: {
        "head": (0., 21., "")
    },
)
