SpriteConfigSeri(
    id: "mahuhe0",
    name: "Human male head 0",
    mapped_anims: {
        ("south", "idle", "g", "") : "mahuhe0_south_idle",
        ("west", "idle", "g", "") : "mahuhe0_west_idle",
        ("east", "idle", "g", "") : "mahuhe0_east_idle",
        ("north", "idle", "g", "") : "mahuhe0_north_idle",
    },
    parent_cat: "body",
    tags: ["head"],
    children_sprites: [],
    shares_tag: [],
    directionable: true,
    movement_based: false,
    grounding_based: false,
    is_being_root_sprite: true,
    baseline_move_speed: 250.0,
)

// TODO: hacer que se puedan aplicar colorses sobre máscaras como en humanoid alien races del rimworld
