(
    id: "humanhe0",
    name: "Human Head 0",
    path: "being/head/human/0.png",
    category: "head",
    shares_category: false,
    rows_cols: (1, 4),
    frame_size: (17, 16),
    offset: (0.0, 0.0, 0.0),
    directionable: true,
    walk_anim: false,
    swim_anim: false,
    swim_anim_still: false,
    fly_anim: false,
    fly_anim_still: false,
    flip_horiz: 0,
    anim_prefix: "_head",
    children_sprites: [],
    offset_down: None,
    offset_up: None,
    offset_sideways: None,
    offset_up_down: None,
    scale: None,
    scale_up_down: None,
    scale_sideways: None,
    color: None,
    exclude_from_sys: None,
)

// TODO: hacer que se puedan aplicar colorses sobre máscaras como en humanoid alien races del rimworld