(
    id: "elf_thick_oak",
    name: "Elven Thick Oak",
    img_paths: [
        ("", "texture/world/vegetation/tree/elf/elf_thick_oak.png")
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 160.0)),
    z: 1000,


)