(
    id: "ghost_birch",
    name: "Ghost Birch",
    img_paths: {
        "default": "texture/world/vegetation/elf/ghost_birch.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 140.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    tmapchild: true,
    ysort: Some(0.0),
)