(
    id: "hollow_banyan",
    name: "Hollow Banyan",
    img_paths: [
        ("default", "texture/world/vegetation/tree/elf/hollow_banyan.png"),
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 180.0)),
    z: 1000,

    tmapchild: true,

)