(
    id: "thick_banyan",
    name: "Thick Banyan",
    img_paths: [
        ("", "texture/world/vegetation/tree/elf/thick_banyan.png"),
    ],
    sprite: Some(true), 
    randflipx: Some(true), 
    offset: Some((0.0, 160.0)),
    z: 1000,

    tmapchild: true,

)