
(
    id: "portal_cave",
    tags: Some(["portal"]),
    name: "Cave portal",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/portal/cave.png"),
    ],
    sprite: Some(true),
    randflipx: Some(true),
    min_distances: Some({
        "c.portal": 300,
    }),
    portal: Some((
        dest_dimension: "dungeon",
        oe_tile: "portal_cave",
        oe_opfilter: "portal_le_1",
        dungeon: "",
    )),
    offset: Some((0.0, 20.0)),
)
