(
    id: "portal_cave",
    name: "Cave portal",
    cats: ["portal"],
    img_paths: {
        "default": "texture/world/portal/cave.png"
    },
    shader: "",
    sprite: true, 
    randflipx: true,
    offset: (0.0, 20.0),
    z: 1000,
    color: Some((255, 255, 255, 255)),
    color_map: "",
    spawns: [],
    spawns_children: [],
    min_distances: Some({
        "c.portal": 300,
    }),
    portal: Some(
        (
            dest_dimension: "cave",
            oe_tile: "portal_cave",//reconfigurarle el portal component para q te devuelva a la dimension de antes
            oplist: "normal3",
            op_i: -1,
            lim_below: 0.0,
            lim_above: 0.1,
            one_way: false,
        )
    ),
    tmapchild: true,
    ysort: Some(0.0),
)