(
    id: "portal_mausu_black",
    name: "Black Mausoleum",

    img_paths: [
        ("", "texture/world/portal/mausublack.png"),
    ],
    sprite: Some(true),
    randflipx: Some(true),
    offset: Some((0.0, 150.0)),
    z: 1000,
    y_sort: Some(0),
    min_distances: Some({
        "c.portal": 300,
    }),
)
