
(
    id: "portal_cave",
    tags: ["portal"],
    name: "Cave portal",
    z: 1000,
    y_sort: Some(0),
    img_paths: [
        ("", "texture/world/portal/cave.png"),
    ],
    is_spritetile: true,
    randflipx: true,
    min_distances: {
        "c.portal": 1000,
    },
    portal: (
        dest_dimension: "dungeon",
        oe_tile: "portal_cave",
        oe_terrprobe: "portal_spiral",
        dungeon: "",
        offset_pos_destinations: [
            (1.0, (4, 2)),
        ],
    ),
    offset: (110.0, 50.0),
    size_in_tiles: (8, 3),
    interaction_zones: {
        "portal": (
            offset_positions: [
                (3, 1),
                (4, 1),
                (3, 2),
                (4, 2),
            ],
        ),
    },
    colmask: [
        "00000000",
        "11000011",
        "11000011",
    ],
)
