(
    id: "golem_ice",
    name: "Ice golem Body",
    tags: ["humanoid"],
    distributed_totals: {
        "mass_kg": 20000.0,
        "hp_capacity": 491.0,
        "hp_regen_rate": 23.5,
        "blood_capacity": 0.0,
        "bleed_rate": 0.0,
        "walk_strength": 2000.0,
        "manip_str": 4.4,
        "vision": 2.0,
    },
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    caloric_burn_rate_multiplier: 1.0,
    max_fat_mobilization_kcal_per_sec: 9999.0,
    max_lean_catabolism_kcal_per_sec: 9999.0,
    damage_per_sec_at_zero_lean: 1.0,
    bodytree_id: "golem",
)
