(
    id: "dublack",
    name: "Dungeon black terrain",
    tags: ["dungeon_floor", "floor"],
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "dublack",
    color: Some((255, 0, 0, 255)),
)
