(
    id: "ducatas",
    name: "Catacombs terrain",
    tags: ["dungeon_floor", "floor"],
    z: -1000,
    img_paths: [
        ("", "texture/world/white.png"),
    ],
    shader: "terrbl",
    terrbl_params: (
        texture_path: "texture/world/terr/dungeon/ducatas.png",
        scale: 17,
        speed: 0.0,
        wavy_strength: 0.0,
        mask_color: (255., 0., 0., 255.),
        time_offset: 0.0,
    ),
    color: Some((255, 0, 0, 255)),
)
