(
    id: "newbiewall",
    name: "Dungeon newbie wall",
    z: 700,
    img_paths: [
        ("", "texture/world/terr/dungeon/newbiewall.png"),
    ],
    //shader: Some("newbiewall"),
    color: Some((255, 0, 0, 255)),
    y_sort: Some(0),
)
