(
    id: "head_south_idle",
    rows_cols: Some((1, 4)),
    img_path: "texture/being/head/human/0.png",
    clips: [
        (
            target: 0,
            is_row: false,
        )
    ],
    z: 0.0,

)