(
    id: "abdomen",
    name: "Abdomen",
    weighted_stats:
    {
        "coverage": 25,
        "mass_kg": 1.0,
        "hp_capacity": 28.0,
        "hp_regen_rate": 0.9,
        "pain_sensitivity": 1.2,
        "caloric_burn_rate": 1.8,
    },
    depth: "inside",
    vital: false,
    bleed_rate: 0.9,
)
