(
    id: "fang",
    name: "Fang",
    weighted_stats:
    {
        "coverage": 2,
        "mass_kg": 0.02,
        "hp_capacity": 3.0,
        "hp_regen_rate": 0.6,
        "blood_capacity": 1.2,
        "manip_str": 0.2,
        "pain_sensitivity": 0.9,
        "caloric_burn_rate": 0.1,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.5,
)
