(
    id: "jaw",
    name: "Jaw",
    weighted_stats:
    {
        "coverage": 5,
        "mass_kg": 0.25,
        "hp_capacity": 9.0,
        "hp_regen_rate": 0.8,
        "blood_capacity": 4.5,
        "manip_str": 0.4,
        "pain_sensitivity": 1.2,
        "caloric_burn_rate": 0.4,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.8,
)
