(
    id: "leg",
    name: "Leg",
    weighted_stats:
    {
        "coverage": 35,
        "mass_kg": 7.0,
        "hp_capacity": 22.0,
        "hp_regen_rate": 0.8,
        "blood_capacity": 13.0,
        "walk_strength": 1.2,
        "swim_strength": 0.8,
        "pain_sensitivity": 1.0,
        "caloric_burn_rate": 2.2,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.7,
    caloric_burn_rate_multipier: 1,
)
