(
    id: "lung",
    name: "Lung",
    weighted_stats:
    {
        "coverage": 20,
        "mass_kg": 1.2,
        "hp_capacity": 22.0,
        "hp_regen_rate": 0.7,
        "pain_sensitivity": 0.0,
        "caloric_burn_rate": 3.5,
    },
    depth: "core",
    vital: true,
    bleed_rate: 1.8,
)
