(
    id: "mandible",
    name: "Mandible",
    weighted_stats:
    {
        "coverage": 2,
        "mass_kg": 0.02,
        "hp_capacity": 3.0,
        "hp_regen_rate": 0.5,
        "manip_str": 0.1,
        "pain_sensitivity": 0.8,
        "caloric_burn_rate": 0.1,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.3,
)
