(
    id: "nose",
    name: "Nose",
    weighted_stats:
    {
        "coverage": 2,
        "mass_kg": 0.05,
        "hp_capacity": 5.0,
        "hp_regen_rate": 0.7,
        "blood_capacity": 2.5,
        "pain_sensitivity": 1.3,
        "caloric_burn_rate": 0.2,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 1.0,
    caloric_burn_rate_multipier: 1,
)
