(
    id: "shoulder",
    name: "Shoulder",
    weighted_stats:
    {
        "coverage": 12,
        "mass_kg": 1.4,
        "hp_capacity": 14.0,
        "hp_regen_rate": 0.8,
        "manip_dex": 0.2,
        "manip_str": 0.5,
        "pain_sensitivity": 1.2,
        "caloric_burn_rate": 1.0,
    },
    synergies: {
        "manip_strength_limb": CopyFrac(0.1),
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.6,
)
