(
    id: "snake_hair",
    name: "Snake Hair",
    weighted_stats:
    {
        "coverage": 2,
        "mass_kg": 0.06,
        "hp_capacity": 3.5,
        "hp_regen_rate": 0.6,
        "blood_capacity": 1.4,
        "pain_sensitivity": 0.9,
        "caloric_burn_rate": 0.2,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.4,
)
