(
    id: "tusk",
    name: "Tusk",
    weighted_stats:
    {
        "coverage": 2,
        "mass_kg": 0.12,
        "hp_capacity": 5.0,
        "hp_regen_rate": 0.5,
        "blood_capacity": 1.8,
        "pain_sensitivity": 0.8,
        "caloric_burn_rate": 0.1,
    },
    depth: "surface",
    vital: false,
    bleed_rate: 0.5,
)
