
(
    id: "human",
    name: "Human",
    name_generator: None,
    icon_path: None,
    description: Some("Humans are known for their versatility, adaptability, and resilience, thriving in diverse environments and excelling in a wide range of skills."),
    demonym: Some("human"),
    singular: Some("human"),
    plural: Some("humans"),
    sexes: {
        "male": 1,
        "female": 1,
    },
    can_equip_tools: true,
    sprite_pool: ["humanbo0", "humanhe0"],
    selectable_sprites: ["humanbo0", "humanhe0"],

)