(
    id: "human",
    name: "Human",
    name_generator: None,
    icon_path: "",
    description: "Humans are known for their versatility, adaptability, and resilience, thriving in diverse environments and excelling in a wide range of skills.",
    demonym: "human",
    singular: "human",
    plural: "humans",
    sexes: {
        "male": (weight: 1, sprites: []),
        "female": (weight: 1, sprites: []),
    },
    sentient: true,
    fallback_sprites_to_sample: ["mahubo0", "mahuhe0"],
    sets_of_choosable_sprites: [
        ("Head", ["mahuhe0", "", ""]),//mahuhe1, mahuhe2
        ("Body", ["mahubo0", "", ""]),//mahubo1 mahubo2
    ],
    mass_kg: 70.0,
    distributed_totals: {
        "walk_speed": 60,
    },
    body_tree_or_sampler: "human",

)
